extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}  
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptates ex dolorem inventore iusto repudiandae illo voluptas aspernatur? Neque mollitia similique soluta aliquam quis veniam iusto! Officia, error. Debitis illo sed iste provident quasi cumque, adipisci nisi cupiditate libero qui molestias ea distinctio beatae sit, facilis neque veniam, nostrum officiis consequatur tenetur magnam accusantium error eaque. Repellat sint numquam omnis reprehenderit veritatis aspernatur? Saepe ab, repellat aspernatur, repellendus a accusantium accusamus voluptatum deserunt vel in aliquam ipsam quis sunt nemo, eveniet sit consectetur vero exercitationem? Placeat officia explicabo debitis sequi eius dignissimos fuga nulla voluptates totam doloremque rem molestias at, sit consequuntur ut in corrupti? Dolor dicta provident et tempora, sed voluptatem odio consequuntur eaque perspiciatis! Eaque quia maiores nulla deserunt in, molestiae, voluptatibus alias esse asperiores fugiat voluptas provident perferendis minus ad vel nobis ea sit vero temporibus iste itaque necessitatibus voluptatum, quidem fugit. Officiis voluptatum ratione praesentium perspiciatis, dolorem ipsam repudiandae voluptatem non obcaecati nostrum, doloremque eligendi nulla eaque, alias illo incidunt. Saepe, neque iure facere optio commodi iusto? Vitae ut tempora minus. Doloremque, quidem in earum exercitationem deleniti iste vero quo quaerat sed impedit! Voluptatum

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error beatae fugiat dolore tempora rem, vel modi vitae voluptatibus nam repellat unde sunt similique nesciunt voluptatum molestiae doloribus quia, quisquam, repudiandae dolor iste quaerat nihil atque mollitia! Culpa assumenda fugiat id esse saepe neque voluptas laborum, quisquam quam rem nostrum dolore quae animi eius molestias alias voluptatum, distinctio ad consequuntur. Quisquam reprehenderit alias, necessitatibus rem suscipit eos vitae neque, veritatis minus magnam perspiciatis sequi ipsa veniam, deserunt dignissimos. Ex beatae totam odio, delectus omnis laudantium doloremque corporis dolor provident odit praesentium, voluptates id ducimus, vel voluptatem consequuntur perspiciatis perferendis consequatur suscipit.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequatur dignissimos nam, veritatis delectus sunt temporibus repudiandae ad laboriosam neque eveniet ipsum magnam quas blanditiis odio quidem voluptas. Debitis numquam veritatis doloribus obcaecati eligendi quibusdam, libero ipsa illo ut adipisci facilis odio laboriosam voluptates architecto. Atque, nam. Officiis animi expedita alias earum vero dicta aut architecto magnam numquam. Sunt a laudantium possimus ullam, architecto suscipit repellat perspiciatis! Cumque sed perspiciatis totam fuga sequi eaque eum officia vitae saepe et nemo, quis quisquam. Alias totam, non ipsam culpa vitae aspernatur aperiam consequatur cum perspiciatis. Saepe, consequatur soluta excepturi repellat at maxime temporibus aspernatur! Maxime repudiandae neque, esse fuga soluta veniam laboriosam

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4      
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur possimu

                .col-md-4      
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur possimu

                .col-md-4      
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur possimu